        body {
            background: #e5e5e5;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 500px;
            margin: 50px auto;
            background: #dcdcdc;
            padding: 25px;
            border-radius: 10px;
        }

        h2 {
            color: #2a9db0;
            font-style: italic;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 15px;
            color: #2a9db0;
            font-style: italic;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #aaa;
            border-radius: 3px;
            font-size: 14px;
        }

         input#inp {
            height: 120px;
            resize: none;
        }

        .btn {
            margin-top: 20px;
            float: right;
            padding: 10px 20px;
            background: #eaeaea;
            border: none;
            border-radius: 20px;
            color: #2a9db0;
            cursor: pointer;
        }

        .dtn:hover {
            background: #d0d0d0;
        }