* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#div1 {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    height: 700px;
    align-items: center;
}

.parent1 {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.parent2 {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.parent3 {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}